h4, h5
{
    margin: 0;
}
.starter{
    height: 100%;
    width: 100%;
    display: flex;
    top: 0;
    left: 0;
    position: fixed;
    background-color: white;
    animation: starter 4s linear both; 
    z-index: 5;
}
@keyframes starter{
    0%{
        opacity: 1;
    }
    99%{
        opacity: 1;
        z-index: 5;
    }
    100%{
        opacity: 0;
        z-index: -99;
    }
}
.loader
{
    margin:auto;
    margin-top: 180px;
    margin-bottom: 180px;
    height: 120px;
    width: 120px;
    border: 16px solid #9b6adb;
    border-top-color: #3e255e;
    border-bottom-color: #3e255e;
    border-radius: 50%;
    animation: chargeur 4s linear infinite;
}

@keyframes chargeur{
    0%{
        transform: rotate(0deg) scale(1);
        border-top-color: #3e255e;
        border-bottom-color: #9356DC
    }
    25%{
        border-top-color: #9356DC;
        border-bottom-color: #3e255e; 
    }
    50%{
        transform: rotate(360deg) scale(1.15);
        border-top-color: #3e255e;
        border-bottom-color: #9356DC;
    }
    75%{
        border-top-color: #9356DC;
        border-bottom-color: #3e255e;
    }
    95%{
        transform: rotate(720deg) scale(1);
        border-top-color: #3e255e;
        border-bottom-color: #9356DC;
    }
    100%{
        opacity: 0;
    }
}
header{
    width: 100%;
}
body
{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
main{
    width: 100%;
}
a
{
    text-decoration: none;
    color: black;
}
.container_logo_ohmyfood
{
    height: 63px;
    width: 100%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
.container_logo_ohmyfood img
{
    width: 196px;
    align-self: center;
    object-fit: contain;
}
.div_localisation
{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 17px;
    background-color: #EAEAEA;
}
.section_discovery_reservation
{
    height: 287px;
    width: 100%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    flex-direction: column;
    background-color: #F6F6F6;
    padding-right: 34px;
    font-size: 12px;

}
.title_section_discovery_reservation
{
    width: 100%;
    text-align: center;
}
.title_section_discovery_reservation h1
{
    font-weight: 700;
    font-size: 24px;
}
.title_section_discovery_reservation h2
{
    font-weight: 300;
    font-size: 18px;
}
.section_discovery_reservation button
{
    border-radius: 25px;
    height: 50px;
    width: 218px;
    font-size: 16px;
    font-weight: 500;
    background: linear-gradient(180deg, rgba(255,121,218,1) 50%, rgba(147,86,220,1) 100%);
    color: white;
    border: none;
}
.section_operating
{
    height: 440px;
    min-width: 300px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    text-align: start;
}
.div_section_operating
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.div_section_operating_button
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}
.card
{
    display: flex;
    align-items: center;
}
.store{
    color: #9356DC;
}
.round_parent
{
    position: absolute;
    z-index: 1;
    padding-right: 20px;
    margin-left: -12px;
}
.round
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    border-radius: 50px;
    background-color: #9356DC;
    color: white;

}
.button
{
    width: 322px;
    height: 72px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px 27px;
    border: none;
    box-shadow: 5px 5px 5px #ededed;
}
.tasting_button
{
    background-color: #F5EDFF;
}
.div_section_operating_butto i
{
    color: #7E7E7E;
}
.degustation_button
{
    background-color: #F5EDFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px 27px;
    width: 322px;
    height: 72px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    box-shadow: 5px 5px 5px #ededed;
    position: relative;
}
.section_restaurants
{
    background-color: #F6F6F6;
}
.section_restaurants h4{
    font-weight: 700;
    font-size: 18px;
}
.section_restaurants h5{
    font-weight: 300;
    font-size: 17px;
}
.title_and_card{
    flex-direction: column;
}
.title{
    min-width: 490px;
}
.div_article_restaurant
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
    gap: 25px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 64px;
}
.section_restaurants h1
{
   padding-left: 20px;
}
.article_restaurant
{
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #ededed;
    width: 100%;
}
.article_restaurant img
{
    object-fit: cover;
    height: 231px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.restaurant_titles
{
    padding-left: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 5px;
}
.restaurant_title_top
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1px;
}
.restaurant_titles_bottom
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heart_icon
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heart_icon i:hover
{
    background: linear-gradient(225deg, #9356dc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.full
{
    position: relative;
    opacity: 0;
}
.full:hover
{
    opacity: 1;
    transition: all 0,5 ease-out;
}
.empty 
{
    position: absolute;
    background-color:black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
    opacity: 1;
}
footer
{
    background-color: #353535;
    width: 100%;
}
footer img
{
    width: 137px;
    height: 27px;
    color: white;
}
.logo_omyfood{
    font-size: 22px;
    font-weight: 700;
    font-family: shirkland;
    font-style: italic;
    color: white;
    padding-bottom: 8px;
}
.link_footer
{
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding-left: 25px;
    padding-top: 22px;
    padding-bottom: 23px;
}
.link_footer i
{
    padding-right: 11px;
    width: 11px;
}
@media screen and (min-width:1024px)
{
    header
    {
        margin: 0 auto;
    }
    main 
    {
        margin: 0 auto;
    }
    .title_section_discovery_reservation
    {
        padding-bottom: 18px;
    }
    .section_operating
    {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        height: 262px;
    }
    .div_section_operating_button
    {
        flex-direction: row;
    }
    .section_restaurants
    {
        padding-top: 47px;
        display: flex;
        justify-content: center;
    }
    .title_and_card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 1200px;
    }
    .title{
        width: 100%;
        max-width: 1200px;
    }
    .div_article_restaurant
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    .article_restaurant{
        min-width: 490px;
        max-width: 490px;
    }
    .link_footer
    {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        gap: 71px;
        padding-right: 50px;
    }
    .link_omyfood_container
    {
        display: flex;
        justify-content: end;
        flex-direction: row;
        gap: 40px;
        font-size: 16px;
    }
    footer 
    {
        margin: 0 auto;
    }
    footer img{
        color: white;
    }
}
