html{
    font-family: 'Roboto', sans-serif;
}
h3
{
    margin: 0px;
}
p
{
    margin: 0px;
}
.menu_SDD_OP_1{
    animation: menu_SDD_OP_1 5s linear both;
}
.menu_SDD_OP_2{
    animation: menu_SDD_OP_2 5s linear both;
}
.menu_SDD_OP_3{
    animation: menu_SDD_OP_3 5s linear both;
}
@keyframes menu_SDD_OP_1{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0;
    }
    33%{
        opacity: 1;
    }
}
@keyframes menu_SDD_OP_2{
    0%{
        opacity: 0;
    }
    33%{
        opacity: 0;
    }
    66%{
        opacity: 1;
    }
}
@keyframes menu_SDD_OP_3{
    0%{
        opacity: 0;
    }
    33%{
        opacity: 0;
    }
    66%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.header_top
{
    display: flex;
    flex-direction: row;
    padding-top: 21px;
    padding-bottom: 20px;
}
.arrow_back_logo
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.arrow_container{
    height: auto;
    width: 5%;
}
.arrow{
    height: auto;
    width: 20px;
    padding-left: 23px;
}
.logo_menu_container{
    width: 95%;
    display: flex;
    justify-content: center;
    padding-right: 20px;
}
.logo_menu{
    height: auto;
    width: 196px;
}
.div_logo_ohmyfood img
{
    width: 196px;
    align-self: center;
    object-fit: contain;
}
.div_restaurant_profile_photo
{
    width: 100%;
}
.div_restaurant_profile_photo img
{
    object-fit: cover;
    width: 100%;
    height: 220px;
}
main
{
    background-color: #f7f7f7;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -35px;
    z-index: 2;
    position: relative;
}
.restaurant_title
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 17px;
    padding-right: 17px;
    font-style: italic;
    gap: 24px;
}
.restaurant_title i
{
    align-self: center;
}
.menu_SDD
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: middle;
    padding-left: 13px;
    padding-right: 13px;
    gap: 12px;
    max-width: 634px;
    min-width: 349px;
    width: auto;
}
.menu_SDD h2
{
    font-size: 16px;
    font-weight: 300;
    padding-top: 40px;
}
.menu_SDD h3 
{
    font-size: 18px;
    font-weight: 600;
}
.menu_SDD p 
{
    font-size: 15px;
    font-weight: 300;
}
.dishes_card
{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
    height: 68px;
    min-width: 349px;
}
.dishes_card:hover .dishes_card_check_icon
{
    margin-right: 0%;
}
.dishes_card:hover .dishes_card_check_icon i
{
    animation: icon_check 0.5s;
}
@keyframes icon_check{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);

    }
}
.dishes_card_entitled
{
    width: 90%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.dishes_card_entitled_bottom
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
}
.dishes_card_check_icon
{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #99E2D0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-right: -10%;
    transition: all 0.5s;
}
.dishes_card_check_icon i
{
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.div_checkout_button
{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 40px;
}
.checkout_button
{
    width: 186px;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
footer
{
    background-color: #353535;
}
.logo_ohmyfood{
    font-size: 22px;
    font-weight: 700;
    font-family: 'Shrikhand', cursive;
    font-style: italic;
    color: white;
    padding-bottom: 8px;
}
.link_footer
{
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding-left: 25px;
    padding-top: 22px;
    padding-bottom: 23px;
}
.link_footer i
{
    padding-right: 11px;
    width: 11px;
}
.link_ohmyfood_container{
    display: flex;
    flex-direction: row;
    gap: 7px;
}
@media screen and (min-width:1025px)
{
    .link_footer
    {
        display: flex;
       flex-direction: row-reverse;
        align-items: center;
        gap: 71px;
        padding-right: 114px;
    }
    .link_omyfood_container
    {
        display: flex;
        justify-content: end;
        flex-direction: row;
        gap: 40px;
    }
}
@media screen and (min-width:768px)
{
    .menu_SDD 
    {
        width: 634px;
    }
    .dishes_card
    {
        width: 100%;
    }
}