.loader
{
    margin:auto;
    margin-top: 180px;
    margin-bottom: 180px;
    height: 120px;
    width: 120px;
    border: 16px solid #9b6adb;
    border-top-color: #3e255e;
    border-bottom-color: #3e255e;
    border-radius: 50%;
    animation: chargeur 4s linear infinite;
}

@keyframes chargeur{
    0%{
        transform: rotate(0deg) scale(1);
        border-top-color: #3e255e;
        border-bottom-color: #9356DC
    }
    25%{
        border-top-color: #9356DC;
        border-bottom-color: #3e255e; 
    }
    50%{
        transform: rotate(360deg) scale(1.15);
        border-top-color: #3e255e;
        border-bottom-color: #9356DC;
    }
    75%{
        border-top-color: #9356DC;
        border-bottom-color: #3e255e;
    }
    100%{
        transform: rotate(720deg) scale(1);
        border-top-color: #3e255e;
        border-bottom-color: #9356DC;
    }

}