[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Maquettes Ohmyfood (mobile et desktop) – Figma
Type=Link
URL=https://www.figma.com/file/t4449fzDnwGYmzuwQdu87V/Maquettes-Ohmyfood-(mobile-et-desktop)?node-id=0%3A1&t=y8bVEvQC4N2yfEpq-0
Icon=text-html
